html
  head
    title Exercise 5.3 Pug Template Example
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-light.bg-light.navbar-expand-sm
      ul.navbar.nav
        li.nav-item
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') Contact Us
    br
    br
    div.container
      div.row
        div.col-md-12
          h2 Exercise 5.3 - Pug Template
          p.alert.alert-success= message

